body {
    font-family: 'Oswald', sans-serif;
    font-family: 'Trispace', sans-serif;

}

* {
    margin: 0px;
    padding: 0px;
}

.background-pic {
    background-image: url(images/donation.jpg);
    height: 700px;
    width: 100%;
    background-position: cover;


}

.headline {
    height: 200px;
    width: 800px;

    margin-left: 300px;
    padding-top: 250px;




}

.headline h1 {
    color: wheat;
    font-size: 60px;
    text-align: center;

}

.headline p {
    color: wheat;
    padding-left: 30px;
    padding-top: 20px;
}

.donate-class {
    margin-top: 30px;
    margin-left: 280px;
}

.donate-button {
    text-decoration: none;
    color: rgb(228, 235, 226);
    background-color: rgb(189, 64, 64);
    padding: 15px;
    border-radius: 10px;
    font-size: x-large;

}

.second-section {
    text-align: center;
    margin-top: 50px;
}

.second-section-paragraph {
    margin-top: 20px;
    width: 500px;
    margin-left: 420px;
}

.second-section h1 {
    font-size: 38px;
}

.taka-section {

    height: 150px;
    width: 600px;
    margin-left: 390px;
    margin-top: 30px;
    display: flex;
}

.taka {
    height: 60px;
    width: 80px;
    background-color: rgb(245, 245, 239);
    margin-top: 30px;
    text-align: center;
    padding-top: 25px;
    margin-left: 50px;

}

.border-taka {
    border: 3px solid rgb(187, 9, 9);
}



.input-style {
    border: none;
    border-bottom: 3px solid black;
    height: 50px;
    width: 400px;
    margin-left: 500px;
    text-align: center;
    font-size: 28px;
}






.second-donate-class {
    margin-top: 40px;
    margin-left: 600px;

}

.third-section {
    margin-top: 150px;
    text-align: center;

}

.third-section h1 {
    font-size: 38px;
}

.third-section-paragraph {
    height: 40px;
    width: 500px;
    text-align: justify;
    margin-left: 420px;
    margin-top: 20px;
}

.plan-section {
    height: 350px;
    width: 100%;
    margin-top: 70px;

    display: flex;
}

.plan-one {
    height: 350px;
    width: 350px;
    background-color: rgb(221, 192, 192);
    margin: 10px;
    margin-left: 65px
}

.plan-two {
    height: 350px;
    width: 350px;
    background-color: rgb(167, 139, 139);
    margin: 10px;
    margin-left: 65px
}

.plan-three {
    height: 350px;
    width: 350px;
    background-color: rgb(235, 224, 224);
    margin: 10px;
    margin-left: 65px
}

.plan-icon {

    height: 60px;
    width: 60px;
    margin-top: 40px;
    margin-left: 130px;
}

.plan-paragraph {
    text-align: justify;
    margin-top: 20px;
    padding: 25px;
}

.get-update {
    margin-top: 90px;
    text-align: center;
}

.get-update p {
    width: 550px;
    margin-left: 390px;
    padding-top: 20px;
    text-align: justify;
}

.email-potion {

    height: 200px;
    width: 800px;
    margin-top: 30px;
    margin-left: 280px
}

#email {
    text-align: center;
    border: 3px solid black;
    margin-left: 180px;
    margin-top: 80px;
    font-size: 32px;
    background-color: rgb(231, 243, 239);


}

#send-button {
    color: brown;
    border: 3px black solid;
    font-size: 32px;
    margin-left: 0px;
    background-color: black;
}

.footer {
    background-color: black;
    height: 100px;

    padding-top: 20px;
    margin-top: 100px;
}

.footer h1 {
    color: aliceblue;
    text-align: center;


}

.footer h3 {
    color: aliceblue;
    text-align: center;
    padding-top: 10px;

}

.extra-section {

    margin-top: 100px;
    width: 250px;
    text-align: center;
    margin-left: 580px;
    font-size: 32px;
}

.about-section {
    height: 300px;
    width: 900px;

    margin-left: 250px;
    margin-top: 80px;
    display: flex;
}

.about-image-section {
    height: 300px;
    width: 300px;

    margin: 10px;
    margin-left: 90px;
}

.image-style {
    height: 300px;
    width: 300px;
}

.image-details {

    height: 150px;
    width: 800px;
    margin-top: 30px;
    margin-left: 290px;
    display: flex;

}

.image-name-one {

    height: 120px;
    width: 350px;
    margin-left: 50px;

}

.image-name-two {

    height: 120px;
    width: 300px;
    margin-left: 50px;

}

.transaction-section {

    height: 300px;
    width: 900px;
    margin-top: 100px;
    margin-left: 240px;
}

.transaction-section h2 {
    text-align: center;
    font-size: 32px;

}

.transaction-list {
    margin-left: 300px;
    margin-top: 60px;
    font-size: 28px;
    color: rgb(78, 59, 77);
}