body {
    font-family: 'Oswald', sans-serif;
    font-family: 'Trispace', sans-serif;

}

* {
    margin: 0px;
    padding: 0px;
}

.background-pic {
    background-image: url(images/donation.jpg);
    height: 700px;
    width: 100%;
    background-position: cover;


}

.headline {
    height: 200px;
    width: 800px;

    margin-left: 300px;
    padding-top: 250px;




}

.headline h1 {
    color: wheat;
    font-size: 60px;
    text-align: center;

}

.headline p {
    color: wheat;
    padding-left: 30px;
    padding-top: 20px;
}

.donate-class {
    margin-top: 30px;
    margin-left: 280px;
}

.donate-button {
    text-decoration: none;
    color: rgb(228, 235, 226);
    background-color: rgb(189, 64, 64);
    padding: 15px;
    border-radius: 10px;
    font-size: x-large;

}

.second-section {
    text-align: center;
    margin-top: 50px;
}

.second-section-paragraph {
    margin-top: 20px;
}

.taka-section {

    height: 150px;
    width: 600px;
    margin-left: 390px;
    margin-top: 30px;
    display: flex;
}

.taka {
    height: 60px;
    width: 80px;
    background-color: rgb(245, 245, 239);
    margin-top: 30px;
    text-align: center;
    padding-top: 25px;
    margin-left: 50px;

}

.border-taka {
    border: 3px solid rgb(187, 9, 9);
}